h1, p{
    color:white;
    background-color: black;
}

p{
    border: 3px solid red;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
    margin: 50px auto; /* top/bottom - left/right */

}

.rojo {
    background-color: grey;
}