h1{
    color:white;
    background-color: black;
    padding: 5px 10px;
    text-align: center;
}

table{
    color:black;
    background-color: white;
    text-align: center;
    margin: auto;
    border-collapse: collapse;
}

td{
    padding: 5px 5px;
    border: 1px solid black;
}

.negro{
    color:white;
    background-color: black;
}

.gris{
    background-color: rgb(34, 49, 49);
    color: white;
}

.verde{
    background-color: darkgreen;
    color: white;
}

h2{
    background-color: rgb(160, 21, 49);
    margin-top:  20px 0%;
    color: white;
    padding-left: 0px;
    text-align: center;
    padding: 5px;
}

ol{
    text-align: center;
    margin: 10px auto;
}

li{
    padding: 5px;
}