* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    background-color: lightgrey;
    border: 1px solid black;
    width: 90%;
    margin-left: 5%;
    display: flow-root;
}

.caja{
    background-color: lightblue;
    border: 1px solid black;
    /* Altura de la caja */
    height: 250px;
    margin: 2.5% 0;
    text-align: center;
}

.flotar{
    /* Float: left; hace que las cajas las ordene hacia la izquierda */
    float:left;
    /* Margen derecha de 2,5% pq 3 cajas de 30=90, lo que seobra 2,5 por cada lado */
    margin-left: 2.5%;
    /* Ancho de la caja*/
    width: 30%;
}