.main_container {
    border: 1px solid orangered;
    border-top: 1px solid black;
    margin-top: 10px;
    padding: 10px;
}

.main_container > .main_img > img {
    padding-left: 1%;
    width: 99%;
}

.main_text{
    border: solid 1px;
    padding-left: 1%;
    width: 99%;
    margin-top: 10px;
    padding: 10px;
    display: flow-root;
}

.text {
    border: solid 1px;
    float: left;
    display: block;
    width: 40%;
}

.images > img {
    border: solid 1px;
    float: left;
    display: block;
    width: 20%;
}