
/* --- Guillermo César García Brito --- */

.main_container {
    border-top: 1px solid black;
    margin-top: 30px;
    padding: 30px 2.5%;
    width: 100%;
}

.main_container > .main_img {
    position: relative;
}
.main_container > .main_img > img {
    width: 100%;
}

.main_container > .main_img > p {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 5rem;
    width: 10%;
    padding-top: 10%;
    padding-left: 3%;
}

.main_text{
    width: 100%;
    margin-top: 20px;
    display: flow-root;
}

.text {
    float: left;
    display: block;
    width: 39%;
    padding-left: 1%;
    margin-top: 40px;
}

.images {
    display: flow-root;
    border: none;
    width: 60%;
}

.images > img {
    float: left;
    display: block;
    width: 30%;
    display: flow-root;
    margin-left: 3%;
}

.text > .text_boton {
    color: white;
    background-color: rgb(88, 88, 88);
    text-transform: uppercase;
    padding:10px;
    margin: 10px;
    border-radius: 15px;
    font-size: 1.6rem;
    display: block;
}

.text > .text_boton a {
    text-align: center;
    text-decoration: none;
    color: white;
}

.text > .text_boton a:hover{
    color: black;
}

.main_text > .text > p  {
    font-size: 1.6rem;
    float: left;
    display: flow-root;
}
