* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.header {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: rgb(55, 55, 55);
}

.logo_header {
    border: 1px solid green;
    float: left;
    width: 30%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.logo_header > h3 {
    color: white;
    text-align: center;
    padding: 11.5px;
    border: solid 1px white;
    float: left;
    font-size: 1.7rem;
}

.logo_header > img {
    border: solid 1px white;
    height: 45px;
    float: left;
    padding-left: 15%;
}

.menu_principal {
    border: 1px solid blue;
    float: right;
    width: 70%;
}

.menu_principal > .menu {
    list-style: none;
    display: flow-root;
}

.menu_principal > .menu > .menu-item {
    float: left;
    width: 17.5%;
}

.menu_principal > .menu > .menu-item:nth-child(2) {
    width: 30%;
}

.menu_principal > .menu > .menu-item:nth-child(5) {
    padding-right: 10px;
}

.menu_principal > .menu > .menu-item a {
    border: 1px solid whitesmoke;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    background-color: rgb(55, 55, 55);
    color: white;
    display: block;
    font-size: 1.1rem;
}

.menu_principal > .menu > .menu-item a:hover {
    color: orangered;
}

.naranja{
    color: rgb(255, 107, 54);
}

/* 
.header {
    background-color: rgb(75, 75, 75);
    color: white;
    float: left;
    width: 100%;
    border: solid 1px red;
    margin-top: 3px;
    margin-bottom: 1%;
}

.logo-header{
    height: 35px;
    padding-left: 5%;
    border: solid 1px red;
    float: left;
}

.naranja{
    color: rgb(255, 107, 54);
}

.header ul li {
    float: right;
    list-style-type: none;
    text-align: left;
    border: solid 1px red;
    padding-right: 5%;

}

.boton-header {
    text-decoration: none;
    color:white;
    border: solid 1px red;
}
 */
