
/* --- Guillermo César García Brito --- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: rgb(55, 55, 55);
}

.logo_header {
    float: left;
    width: 30%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.logo_header > h3 {
    color: white;
    text-align: center;
    padding: 11.5px;
    float: left;
    font-size: 1.9rem;
}

.logo_header > img {
    height: 45px;
    float: left;
    padding-left: 15%;
}

.menu_principal {
    float: right;
    width: 70%;
}

.menu_principal > .menu {
    list-style: none;
    display: flow-root;
}

.menu_principal > .menu > .menu-item {
    float: left;
    width: 17.5%;
}

.menu_principal > .menu > .menu-item:nth-child(2) {
    width: 30%;
}

.menu_principal > .menu > .menu-item:nth-child(5) {
    padding-right: 10px;
}

.menu_principal > .menu > .menu-item a {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 14px;
    background-color: rgb(55, 55, 55);
    color: white;
    display: block;
    font-size: 1.6rem;
}

.menu_principal > .menu > .menu-item a:hover {
    color: orangered;
}

.naranja{
    color: rgb(255, 107, 54);
}
